﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Calendar APP</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Developed by Denner Lermen</h2>
        <p>
            <a class="btn btn-default" href="https://www.linkedin.com/in/denner-lermen-65154bb3/">
                Learn more &raquo;
            </a>

        </p>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
</div>