﻿@model IEnumerable<Models.Event>

@{
    ViewBag.Title = "List of Events";
}

<h2>Index</h2>


<div class="row">


    <form action="/Events/Index" method="get">
        <div class="col-sm-3">
            <h4 style="margin-top:32px"><b>Events started between:</b></h4>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputEmail1">First date</label>
                <input type="date" class="form-control"
                       name="beginDate" id="beginDate"
                       required
                       value="@HttpContext.Current.Request.QueryString.Get("beginDate")"
                       placeholder="Enter start date">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Second date</label>
                <input type="date" class="form-control"
                       name="endDate" id="endDate"
                       required
                       value="@HttpContext.Current.Request.QueryString.Get("endDate")"
                       placeholder="Enter start date">
            </div>
        </div>

        <div class="col-sm-1">
            <button type="submit" style="margin-top: 23px;" class="btn btn-primary">
                Search
            </button>
        </div>
    </form>

</div>
<hr />


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
